<template>
  <div class="document-container">
    <div class="content">
      <es-form>
        <template #es-form-header>
          <div class="header-container">
            <div class="header-elements">
              <h6 class="title">
                {{role.label}}
              </h6>
            </div>
            <div class="header-actions">
              <div v-if="hasModule('SYS:SEC:USRMGR:EDIT')" class="list-content">
                <a :class="{disabled: currentEditPanel != '' && currentEditPanel != 'editAuthorization' }"
                @click= "editPanel()"
                title="Edit"
                v-if="!isEditAuthorization">
                <font-awesome-icon :icon="['fas', 'edit']" size="lg"/>
                </a>
              <!-- todo -->
                <!-- <a style="padding-left:5px" :class="{disabled: currentEditPanel != '' && currentEditPanel != 'editAuthorization'}"
                @click="deleteRole()"
                title="Delete"
                v-if="!isEditing">
                <font-awesome-icon :icon="['fal', 'trash']" size="lg"/>
                </a> -->
              </div>
            </div>
          </div>
        </template>
        <template #es-form>
          <div class="fields-container">
            <div class="row" :class="{ removeUnderline: isEditing }">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Role</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input"
                      :class="{'is-static' : !isEditing }"
                      :disabled = "isEditing "
                      type="text"
                      v-model="role.label">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" :class="{ removeUnderline: isEditing }">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">District</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input"
                      :class="{'is-static' : !isEditing }"
                      type="text"
                      v-model="districtType"
                      :readonly="!isEditing "
                      v-if="!isEditing "/>
                      <div v-if="isEditing " class="buttons has-addons">
                        <button v-for="(option, index) in districtOptions" :key="index"
                        class="button no-radius"
                        :class="{'selected-type': districtType === option}"
                        @click="selectedType('districtType', option)">
                        {{ option }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="districtType !== 'All Districts'" class="row"
            :class="{ removeUnderline: isEditing }">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">District(s)</label>
                </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <span class="tags" v-if="!isEditing " >
                          <span class="tag" v-for="district in user.districts" v-bind:key="district.id">
                            {{ district.location.name }}
                          </span>
                        </span>
                        <div v-if="isEditing">
                          <es-select
                          :class="{'is-danger': hasErrorDistrict }"
                          v-bind:multi="true"
                          v-bind:search="true"
                          api="districts"
                          :valueTplFn="(result) => `${result.location.name} (${result.code})`"
                          :preSelected="districts"
                          keyValue="code"
                          @onClickChild="updateValue($event, 'districts')"
                          />
                        </div>
                      </div>
                      <span v-if="hasErrorDistrict" class="help is-danger">
                        {{ msgDistrict }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditing }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">School</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                        :class="{'is-static' : !isEditing }"
                        type="text"
                        v-model="schoolType"
                        :readonly="!isEditing "
                        v-if="!isEditing "/>
                        <div v-if="isEditing " class="buttons has-addons">
                          <button v-for="(option, index) in schoolOptions" :key="index"
                          class="button no-radius"
                          :class="{'selected-type': schoolType === option}"
                          @click="selectedType('schoolType', option)">
                          {{ option }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="schoolType !== 'All Schools'" class="row"
              :class="{ removeUnderline: isEditing }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">School(s)</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <span class="tags" v-if="!isEditing" >
                          <span class="tag" v-for="school in user.schools" v-bind:key="school.id">
                            {{ school.location.name }}
                          </span>
                        </span>
                        <div v-if="isEditing">
                          <es-select
                          :class="{ 'is-danger': hasErrorSchool }"
                          v-bind:multi="true"
                          v-bind:search="true"
                          api="schools"
                          :valueTplFn="(result) => `${result.location.name} (${result.code})`"
                          :subValueTplFn="(result) => `${result.districtLocation.name} (<i>${result.districtCode }</i>)`"
                          :prePopulated="schools"
                          keyValue="code"
                          @onClickChild="updateValue($event, 'schools')"
                          />
                        </div>
                      </div>
                      <span v-if="hasErrorSchool" class="help is-danger">
                        {{ msgSchool }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditing }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">DirectMatch Match Type(s)</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <span class="tags" v-if="!isEditing">
                          <span class="tag" v-for="matchType in user.matchTypes" v-bind:key="matchType.id">
                            {{ TODO }}
                          </span>
                        </span>
                        <div v-if="isEditing">
                          <es-select
                          :class="{ 'is-danger': hasErrorProgram }"
                          v-bind:multi="true"
                          api="programs"
                          :apiQueryParams="matchTypeQueryParam"
                          valueTpl="${description}"
                          :preSelected="programs"
                          keyValue="code"
                          @onClickChild="updateValue($event, 'programs')"
                          />
                        </div>
                      </div>
                      <span v-if="hasErrorProgram" class="help is-danger">
                        {{ msgProgram }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditing }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Location Group</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                        :class="{'is-static': !isEditing }"
                        type="text"
                        v-model="locationGroupType"
                        :readonly="!isEditing "
                        v-if="!isEditing "/>
                        <div v-if="isEditing " class="buttons has-addons">
                          <button v-for="(option, index) in locationGroupOptions" :key="index"
                          class="button no-radius"
                          :class="{'selected-type': locationGroupType === option}"
                          @click="selectedType('locationGroupType', option)">
                          {{ option }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="locationGroupType !== 'All Groups'" class="row"
              :class="{ removeUnderline: isEditing }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Location Group(s)</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <span class="tags" v-if="!isEditing " >
                          <span class="tag" v-for="group in user.locationGroups" v-bind:key="group.id">
                            {{ group.label }}
                          </span>
                        </span>
                        <div v-if="isEditing">
                          <es-select
                          :class="{ 'is-danger': hasErrorLocationGroup }"
                          v-bind:multi="true"
                          v-bind:search="true"
                          api="location-groups"
                          apiQueryParams="?active=true"
                          valueTpl="${label}"
                          keyValue="code"
                          @onClickChild="updateValue($event, 'locationGroups')"
                          />
                        </div>
                      </div>
                      <span v-if="hasErrorLocationGroup" class="help is-danger">
                        {{ msgLocationGroup }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>
        </es-form>
      </div>
      <div class="es-actions" v-if="isEditing ">
        <es-form-actions>
          <template #form-actions>
            <div class="bottom-content">
              <ul>
                <li>
                  <div class="list-content">
                    <a @click.prevent="clearAll()">Cancel</a>
                  </div>
                </li>
                <li>
                  <div class="list-content">
                    <button
                    class="button is-primary"
                    @click.prevent="verifyForm()">
                    Update
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </template>
      </es-form-actions>
    </div>
  </div>
</template>

<script>
import EsForm from '@/components/EsForm.vue';
import PermissionManager from '@/mixins/PermissionManager';
import EsSelect from '@/components/EsSelect.vue';
import EsFormActions from '@/components/EsFormActions.vue';
export default {
  mixins: [PermissionManager],
  components: {
    EsSelect,
    EsForm,
    EsFormActions,
  },
  props: ['user','role','currentEditPanel','isEditAuthorization','formErrorMsg'],

data() {
  return {
    isEditing: false,
    matchTypeQueryParam: { config: 'true', matchEnabled: 'true' },
    districts: [],
    schoolDistrictCodes: [],
    schools: [],
    locationGroups: [],
    programs: [],
    districtOptions: ['All Districts', 'Specific Districts'],
    districtType: 'All Districts',
    schoolOptions: ['All Schools', 'Specific Schools'],
    schoolType: 'All Schools',
    locationGroupOptions: ['All Groups', 'Specific Groups'],
    locationGroupType: 'All Groups',
    hasErrorDistrict: false,
    msgDistrict: '',
    hasErrorSchool: false,
    msgSchool: '',
    hasErrorProgram: false,
    msgProgram: '',
    hasErrorLocationGroup: false,
    msgLocationGroup: '',

  };
},
  methods: {
    selectedType(field, option) {
      if (field === 'districtType') {
        this.districtType = option;
      }
      if (field === 'schoolType') {
        this.schoolType = option;
      }
      if (field === 'locationGroupType') {
        this.locationGroupType = option;
      }
      this.$emit('updateAuthorization',
      {
         locationGroupType: this.locationGroupType,
         districtType: this.districtType,
         schoolType: this.schoolType,
     });
    },
    editPanel() {
      this.isEditing = true;
      this.$emit('editPanel', 'editAuthorization');
    },
    validateEditAuthorizationForm() {
      let error = 0;
      if(this.districtType !== "All Districts") {
        if (this.districts === undefined || this.districts.length < 1) {
          this.hasErrorDistrict = true;
          this.msgDistrict = 'District is required';
          error += 1;
        }

        else  {
          this.hasErrorDistrict = false;
          this.msgDistrict = '';
          error = 0;
        }
      }
        else if (this.districtType === "All Districts") {
          this.hasErrorDistrict = false;
          this.msgDistrict = '';
          error = 0;
        }
      if(this.schoolType !== "All Schools") {
        if (this.schools === undefined || this.schools.length < 1) {
          this.hasErrorSchool = true;
          this.msgSchool = 'School is required';
          error += 1;
        }
      }
      if(this.locationGroupType !== "All Groups") {
        if (this.locationGroups === undefined || this.locationGroups.length < 1) {
          this.hasErrorLocationGroup = true;
          this.msgLocationGroup = 'Location Group is required.';
          error += 1;
        }
      }
      if (this.programs === undefined || this.programs.length < 1) {
        this.hasErrorProgram = true;
        this.msgProgram= 'Program is required.';
        error += 1;
      }
      if (error > 0) {
        this.$emit('showError',this.formErrorMsg);
      }
      return error;

    },
    verifyForm() {
      this.$emit('verifyForm', 'editAuthorization');
    },
    clearAll() {
      this.isEditing = false;
      this.resetForm();
      this.resetFormErrors()
      this.$emit('clearAll', 'editAuthorization');
    },
    resetForm() {
      this.schools = [];
      this.districts = [];
      this.schoolDistrictCodes = [];
      this.locationGroups = [];
      this.programs = [];
      this.districtType = 'All Districts';
      this.schoolType = 'All Schools';
      this.locationGroupType = 'All Groups';
    },
    resetFormErrors() {
      this.hasErrorDistrict = false;
      this.hasErrorSchool = false;
      this.hasErrorProgram = false;
      this.hasErrorLocationGroup = false;
      this.msgDistrict = '';
      this.msgSchool = '';
      this.msgProgram = '';
      this.msgLocationGroup = '';
    },
    updateValue(value, type) {
      if (type === 'locationGroups' && this.locationGroupType !== 'All Groups') {
        this.locationGroups = value.map(val => val.code);
      }
      if (type === 'districts' && this.districtType !== 'All Districts') {
        this.districts = value.map(val => val.code);
      }
      if (type === 'schools' && this.districtType !== 'All Schools') {
        // appending school code and district code to the schoolCode url param.
        this.schoolDistrictCodes = value.map(val => `${val.code}:${val.districtCode}`);
        this.schools = this.getSchoolCodes();
      }
      if (type === 'programs') {
        this.programs = value.map(val => val.code);
      }
      this.$emit('updateAuthorization',
      {
         locationGroups: this.locationGroups,
         districts: this.districts ,
         schools: this.schools ,
         programs: this.programs,
     });
    },
    getSchoolCodes() {
      const splitSchoolCodes = [];
      const codes = [];
      for (let i = 0; i < this.schoolDistrictCodes.length; i += 1) {
        splitSchoolCodes.push(this.schoolDistrictCodes[i].split(/[:]+/));
        codes.push(splitSchoolCodes[i][0]);
      }
      return codes;
    },
  },
}

</script>
  <style lang="sass" scoped>
  .selected-type
    background-color: #ccc
    font-weight: bold
  a.disabled
    color: #999
    cursor:  default
    text-decoration:  none
    pointer-events: none
    &:hover
      text-decoration:  none
  </style>
