<template>
  <div>
    <template>
      <div>
        <es-profile-header>
          <template #profile-header>
            <div class="header-title">
              {{userMaster.firstName}} {{userMaster.lastName}}
            </div>
            <div class="header-subtitle">
              <font-awesome-icon :icon="['fas', 'envelope']" size="1x"/>
              {{userMaster.email}}
            </div>
            <div class="header-subtitle" v-if="userMaster.phone1!==''">
              <font-awesome-icon :icon="['fas', 'phone']"/>
              {{userMaster.phone1}}
            </div>
          </template>
          <template #profile-overview>
            <div class="columns">
              <div class="column">
                <div class="column-content">
                  <div class="column-title">{{userMaster.status}}</div>
                  <div class="column-subtitle">Status</div>
                </div>
              </div>
              <div class="column">
                <div class="column-content">
                  <div class="column-title">
                    {{userMaster.lastAccessedDate | formatDateMMDDYYYY }}
                  </div>
                  <div class="column-subtitle">Last Login</div>
                </div>
              </div>
              <div class="column">
                <div class="column-content">
                  <div class="column-title">
                    {{userMaster.lastUpdateDate | formatDateMMDDYYYY }}
                  </div>
                  <div class="column-subtitle">Last Updated</div>
                </div>
              </div>
            </div>
          </template>
        </es-profile-header>
      </div>
    </template>
    <div v-if="user" class="document-container"
      :class="{'edit-mode':isEditGeneral}">
      <div class="document">
        <div class="header">
          <es-header>
            <template #header>
              <div class="header-title">General</div>
              <div class="header-subtitle">
                  View/edit general profile information.
              </div>
            </template>
            <template #actions>
              <ul>
                <li class="p-narrow no-border">
                  <div v-if="hasModule('SYS:SEC:USRMGR:EDIT')" class="list-content">
                    <a :class="{disabled: currentEditPanel != '' && currentEditPanel != 'general'}"
                      @click="editPanel('general')"
                      title="Edit"
                      v-if="!isEditGeneral">
                      <font-awesome-icon :icon="['fas', 'edit']" size="lg"/>
                    </a>
                  </div>
                </li>
              </ul>
            </template>
          </es-header>
        </div>
        <div class="content">
          <es-form>
            <template #es-form-header>
              <div class="header-container">
                <div class="header-elements">
                  <font-awesome-icon :icon="['fas', 'id-card']" size="lg" />
                </div>
                <div class="header-elements">
                  <h6 class="title">
                    Personal Details
                  </h6>
                </div>
              </div>
            </template>
            <template #es-form>
              <div class="fields-container">
                <div class="row" :class="{ removeUnderline: isEditGeneral }">
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">First Name</label>
                    </div>
                    <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          :class="{ 'is-static': !isEditGeneral,
                          'is-danger' : hasErrorFirstName}"
                          type="text"
                          v-model="user.firstName"
                          :readonly="!isEditGeneral"
                          :disabled="disableOnEdit"
                          @keyup.prevent="checkEmpty('firstName')">
                      </div>
                      <span v-if="hasErrorFirstName" class="help is-danger">
                        {{ msgFirstName }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Middle Name
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span>
                    </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" :class="{ 'is-static': !isEditGeneral,
                          'is-danger' : hasErrorMiddleName }"
                          type="text"
                          v-model="user.middleName"
                          :disabled="disableOnEdit"
                          :readonly="!isEditGeneral">
                      </div>
                      <span v-if="hasErrorMiddleName" class="help is-danger">
                        {{ msgMiddleName }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Last Name</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" :class="{ 'is-static': !isEditGeneral,
                          'is-danger' : hasErrorLastName }"
                          type="text"
                          v-model="user.lastName"
                          :disabled="disableOnEdit"
                          :readonly="!isEditGeneral"
                          @keyup.prevent="checkEmpty('lastName')">
                      </div>
                      <span v-if="hasErrorLastName" class="help is-danger">
                        {{ msgLastName }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Date of Birth
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span>
                    </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input type="text"
                          class="input"
                          :class="{ 'is-static': !isEditGeneral }"
                          readonly
                          :value="dateOfBirthYYYYMMDD | formatDateMMDDYYYY"
                          v-if="!isEditGeneral && dateOfBirthYYYYMMDD !== ''"/>
                        <input
                          class="input calendar is-half-width"
                          :class="{ 'is-danger' : hasErrorDateOfBirth }"
                          type="date"
                          v-model="dateOfBirthYYYYMMDD"
                          v-if="isEditGeneral"
                          :disabled="disableOnEdit"
                          @change.prevent="checkFormat('dateOfBirth')"/>
                      </div>
                      <span v-if="hasErrorDateOfBirth" class="help is-danger">
                        {{ msgDateOfBirth }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Gender</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input type="text"
                          class="input" :class="{ 'is-static': !isEditGeneral }"
                          readonly
                          v-model="gender.description"
                          v-if="!isEditGeneral"/>
                        <div v-if="isEditGeneral">
                          <input
                            class="is-checkradio"
                            :class="{ 'is-danger' : hasErrorGender }"
                            type="radio"
                            v-model="gender.code"
                            value="M"
                            :disabled="disableOnEdit"
                            id="editUserMale">
                          <label
                            class="radio"
                            for="editUserMale">
                            Male
                          </label>
                          <input
                            class="is-checkradio"
                            :class="{ 'is-danger' : hasErrorGender }"
                            type="radio"
                            v-model="gender.code"
                            value="F"
                            :disabled="disableOnEdit"
                            id="editUserFemale">
                          <label
                            class="radio"
                            for="editUserFemale">
                            Female
                          </label>
                        </div>
                      </div>
                      <span v-if="hasErrorGender" class="help is-danger">
                        {{ msgGender }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Email</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          type="text"
                          v-model="user.email"
                          disabled
                          v-if="isEditGeneral"/>
                        <input type="text"
                          class="input is-static"
                          readonly
                          v-model="user.email"
                          v-else>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Phone 1
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span>
                    </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                            :class="{'is-danger' : hasErrorPhone1}"
                            type="text"
                            v-model.lazy="user.phone1"
                            @change="checkFormat('phone1')"
                            v-if="isEditGeneral"
                            :disabled="disableOnEdit">
                        <input class="input is-static"
                          type="text"
                          :value="maskPhone(user.phone1)"
                          readonly
                          v-else>
                      </div>
                      <span v-if="hasErrorPhone1" class="help is-danger">
                        {{ msgPhone1 }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Phone 2
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span>
                    </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          :class="{'is-danger' : hasErrorPhone2}"
                          type="text"
                          v-model.lazy="user.phone2"
                          @change="checkFormat('phone2')"
                          v-if="isEditGeneral"
                          :disabled="disableOnEdit">
                        <input class="input is-static"
                          type="text"
                          :value="maskPhone(user.phone2)"
                          readonly
                          v-else>
                      </div>
                      <span v-if="hasErrorPhone2" class="help is-danger">
                        {{ msgPhone2 }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Title
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span>
                    </label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" :class="{ 'is-static': !isEditGeneral }"
                          type="text"
                          v-model="user.jobClassification.description"
                          :readonly="!isEditGeneral"
                          v-if="!isEditGeneral && user.jobClassification !== undefined"/>
                        <div v-if="isEditGeneral"
                          class="select is-half-width display-block">
                          <select
                            class="input is-full-width"
                            v-model="user.jobClassification.code"
                            :disabled="disableOnEdit">
                            <option value=""></option>
                            <option v-for="title in titles"
                                :value="title.code"
                                v-bind:key="title.code">
                                {{ title.description }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </template>
          </es-form>
          <es-form>
            <template #es-form-header>
              <div class="header-container">
                <div class="header-elements">
                  <font-awesome-icon :icon="['fas', 'map-marked-alt']" size="lg"/>
                </div>
                <div class="header-elements">
                  <h6 class="title">
                    Address
                  </h6>
                </div>
              </div>
            </template>
            <template #es-form>
              <div class="fields-container">
                <div class="row" :class="{ removeUnderline: isEditGeneral }">
                  <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Address 1
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" :class="{ 'is-static': !isEditGeneral,
                          'is-danger' : hasErrorStreet1 }"
                          type="text"
                          v-model="user.street1"
                          :disabled="disableOnEdit"
                          :readonly="!isEditGeneral"/>
                      </div>
                      <span v-if="hasErrorStreet1" class="help is-danger">
                        {{ msgStreet1 }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Address 2
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" :class="{ 'is-static': !isEditGeneral,
                          'is-danger' : hasErrorStreet2 }"
                          type="text"
                          v-model="user.street2"
                          :disabled="disableOnEdit"
                          :readonly="!isEditGeneral"/>
                      </div>
                      <span v-if="hasErrorStreet2" class="help is-danger">
                        {{ msgStreet2 }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">City
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" :class="{ 'is-static': !isEditGeneral,
                          'is-danger' : hasErrorCity }"
                          type="text"
                          v-model="user.city"
                          :disabled="disableOnEdit"
                          :readonly="!isEditGeneral">
                      </div>
                      <span v-if="hasErrorCity" class="help is-danger">
                        {{ msgCity }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">State
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input" :class="{ 'is-static': !isEditGeneral }"
                          type="text"
                          v-model="user.state.description"
                          :readonly="!isEditGeneral"
                          v-if="!isEditGeneral && user.state !== undefined"/>
                        <div v-if="isEditGeneral"
                          class="select is-half-width display-block">
                          <select
                            class="input is-full-width"
                            v-model="user.state.code"
                            :disabled="disableOnEdit">
                            <option value=""></option>
                            <option v-for="state in states"
                              :value="state.code"
                              v-bind:key="state.code">
                              {{ state.description }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Zip
                      <span class="text-gray-light" v-if= "isEditGeneral"> (optional)</span></label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                            :class="{'is-danger' : hasErrorZip}"
                            type="text"
                            v-model.lazy="user.zip"
                            @change="checkFormat('zip')"
                            v-if="isEditGeneral"
                            :disabled="disableOnEdit">
                        <input class="input is-static"
                          type="text"
                          :value="maskZip(user.zip)"
                          readonly
                          v-else>
                      </div>
                      <span v-if="hasErrorZip" class="help is-danger">
                        {{ msgZip }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </template>
          </es-form>
          <es-form>
            <template #es-form-header>
              <div class="header-container">
                <div class="header-elements">
                  <font-awesome-icon :icon="['fas', 'map-marked-alt']" size="lg"/>
                </div>
                <div class="header-elements">
                  <h6 class="title">
                    More
                  </h6>
                </div>
              </div>
            </template>
            <template #es-form>
              <div class="fields-container">
                <div class="row" :class="{ removeUnderline: isEditGeneral }">
                  <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Status</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div v-if="adminMode && isEditGeneral && user.status !== 'PENDING'"
                        class="control">
                        <label class="radio">
                          <input
                            type="radio"
                            v-model="user.status"
                            value="ACTIVE"/>
                          Active
                        </label>
                        <label class="radio">
                          <input
                            type="radio"
                            v-model="user.status"
                            value="INACTIVE"/>
                          Inactive
                        </label>
                      </div>
                      <div v-else class="control">
                        <div class="control">
                          <input type="text"
                            class="input"
                            :class="{'is-static' : !isEditGeneral}"
                            :disabled = "isEditGeneral"
                            :value="user.status"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Last Updated</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input type="text"
                          class="input"
                          :class="{'is-static' : !isEditGeneral}"
                          :disabled = "isEditGeneral"
                          :value="user.lastUpdateDate | formatDateMMDDYYYY"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </template>
          </es-form>
        </div>
        <div class="es-actions" v-if="isEditGeneral">
          <es-form-actions>
            <template #form-actions>
              <div class="bottom-content">
                <ul>
                  <li>
                    <div class="list-content">
                      <a @click.prevent="clearAll('general')">Cancel</a>
                    </div>
                  </li>
                  <li v-if="user.status !== 'PENDING'">
                    <div class="list-content">
                      <button
                        class="button is-primary"
                        @click.prevent="verifyForm('general')">
                          Update
                      </button>
                    </div>
                  </li>
                  <li v-else>
                    <div class="list-content">
                      <button
                        class="button is-primary"
                        @click.prevent="verifyForm('status')">
                          Delete
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </template>
          </es-form-actions>
        </div>
      </div>
    </div>
    <div v-if="user" class="document-container">
      <div class="document">
        <div class="header">
          <es-header>
            <template #header>
              <div class="header-title">Authorization Information</div>
            </template>
            <template #actions>
              <ul>
                <li class="p-narrow no-border">
                  <div v-if="hasModule('SYS:SEC:USRMGR:ADD')" class="list-content">
                    <a :class="{disabled: currentEditPanel != '' && currentEditPanel != 'addAuthorization'}"
                    @click= "editPanel('addAuthorization')"
                    title="add"
                    v-if="!isAddAuthorization">
                    <font-awesome-icon :icon="['fal', 'plus']" size="lg"/>
                    </a>
                  </div>
                </li>
              </ul>
            </template>
          </es-header>
        </div>
        <user-edit-authorization
        v-for="role in user.roles" v-bind:key="role.id"
        :role = 'role'
        :user = 'user'
        :currentEditPanel = 'currentEditPanel'
        :isEditAuthorization = 'isEditAuthorization'
        @editPanel ="editPanel"
        @clearAll ="clearAll"
        @verifyForm ="verifyForm"
        @updateAuthorization ="onUpdateAuthorization"
        :formErrorMsg = "formErrorMsg"
        @showError="showError"
        ref="UserEditAuthorization"
        />
        <user-add-authorization
        :isAddAuthorization = 'isAddAuthorization'
        @clearAll ="clearAll"
        @addAuthorization ="onUpdateAuthorization"/>
      </div>
    </div>
    <div v-if="this.user" class="document-container"
      :class="{'edit-mode':isEditGroup}">
      <div class="document">
        <div class="header">
          <es-header>
            <template #header>
              <div class="header-title">Location Group</div>
              <div class="header-subtitle">
                Location Group manages what records a user can view within locations.
              </div>
            </template>
            <template #actions>
              <div class="ul-container" v-if="adminMode">
                <ul>
                  <li class="p-narrow no-border">
                    <div class="list-content">
                      <a :class="{disabled: currentEditPanel != '' && currentEditPanel != 'groups'}"
                        @click="editPanel('groups')"
                        v-if="!isEditGroup">
                        <font-awesome-icon :icon="['fas', 'edit']" size="lg"/>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </template>
          </es-header>
        </div>
        <div class="content">
          <es-form>
            <template #es-form>
              <div v-if="!isEditGroup">
                <span class="tags" >
                  <span class="tag" v-for="group in user.locationGroups" v-bind:key="group.id">
                    {{ group.label }}
                  </span>
                </span>
              </div>
              <form-search-location-group
                ref="locationlookup"
                :hasErrorLocation = 'hasErrorLocation'
                @updatedLocation="onUpdateLocation"
                :preSelectedLocation = "user.locationGroups"
                v-if="isEditGroup"/>
              <span v-if="hasErrorLocation" class="help is-danger">
                {{ msgLocation }}
              </span>
            </template>
          </es-form>
          <div class="es-actions" v-if="isEditGroup">
            <es-form-actions>
              <template #form-actions>
                <div class="bottom-content">
                  <ul>
                    <li>
                      <div class="list-content">
                        <a @click.prevent="clearAll('groups')">Cancel</a>
                      </div>
                    </li>
                    <li>
                      <div class="list-content">
                        <button
                          class="button is-primary"
                          @click.prevent="verifyForm('groups')">
                           Update
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </template>
            </es-form-actions>
          </div>
        </div>
      </div>
    </div>
    <div v-if="this.user" class="document-container"
      :class="{'edit-mode':isEditRole}">
      <div class="document">
        <div class="header">
          <es-header>
            <template #header>
              <div class="header-title">Role</div>
              <div class="header-subtitle">
                Role manages what components and privileges
                a user can have access to within the application.
              </div>
            </template>
            <template #actions>
              <div class="ul-container" v-if="adminMode">
                <ul>
                  <li class="p-narrow no-border">
                    <div class="list-content">
                      <a :class="{disabled: currentEditPanel != '' && currentEditPanel != 'roles'}"
                        @click="editPanel('roles')"
                        v-if="!isEditRole">
                        <font-awesome-icon :icon="['fas', 'edit']" size="lg"/>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </template>
          </es-header>
        </div>
        <div class="content">
          <es-form>
            <template #es-form>
              <div class="es-form">
                <div v-if="!isEditRole">
                  <span class="tags" >
                    <span class="tag" v-for="role in user.roles" v-bind:key="role.id">
                      {{ role.label }}
                    </span>
                  </span>
                </div>
                <form-search-role
                  ref="roleslookup"
                  :hasErrorRole = 'hasErrorRole'
                  @updatedRoles="onUpdateRoles"
                  :preSelectedRole = "user.roles"
                  v-if="isEditRole"/>
                <span v-if="hasErrorRole" class="help is-danger">
                  {{ msgRole }}
                </span>
              </div>
            </template>
          </es-form>
          <div class="es-actions" v-if="isEditRole">
            <es-form-actions>
              <template #form-actions>
                <div class="bottom-content">
                  <ul>
                    <li>
                      <div class="list-content">
                        <a @click.prevent="clearAll('roles')">Cancel</a>
                      </div>
                    </li>
                    <li>
                      <div class="list-content">
                        <button
                          class="button is-primary"
                          @click.prevent="verifyForm('roles')">
                           Update
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </template>
            </es-form-actions>
          </div>
        </div>
      </div>
    </div>
    <div v-if="this.user" class="document-container"
      :class="{'edit-mode':isEditSecurity}">
      <div class="document">
        <div class="header">
          <es-header>
            <template #header>
              <div class="header-title">Security</div>
              <div class="header-subtitle">
                View login and reset password.
              </div>
            </template>
            <template #actions>
              <div class="ul-container" v-if="adminMode">
                <ul>
                  <li class="p-narrow no-border">
                    <div class="list-content">
                      <a class="edit-link"
                        @click.prevent='resetPassword(`${user.id}`)'>
                        Reset Password
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="ul-container" v-if="securityMode">
                <ul>
                  <li class="icon p-narrow no-border">
                    <a :class="{disabled: currentEditPanel != '' && currentEditPanel != 'security'}"
                      @click="editPanel('security')"
                      v-if="!isEditSecurity">
                      <font-awesome-icon :icon="['fas', 'edit']" size="lg"/>
                    </a>
                  </li>
                </ul>
              </div>
            </template>
          </es-header>
        </div>
        <div class="content">
          <es-form v-if="!isEditSecurity">
            <template #es-form-header>
              <div class="header-container">
                <div class="header-elements">
                  <font-awesome-icon :icon="['fas', 'info-square']" size="lg"/>
                </div>
                <div class="header-elements">
                  <h6 class="title">
                    Your Login Information
                  </h6>
                </div>
              </div>
            </template>
            <template #es-form>
              <div class="fields-container">
                <div class="row" :class="{ removeUnderline: isEditGeneral }">
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    <label class="label">Email Address</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input is-static"
                          type="text"
                          v-model="user.email"
                          readonly/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Last Access</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input is-static"
                          type="text"
                          :value="user.lastAccessedDate | formatDateMMDDYYYY"
                          readonly/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Last Password Changed</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input is-static"
                          type="text"
                          :value="user.passwordChangeDate | formatDateMMDDYYYY"
                          readonly/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </template>
          </es-form>
          <es-form v-if="isEditSecurity">
            <template #es-form-header>
              <div class="header-container">
                <div class="header-elements">
                  <font-awesome-icon :icon="['fas', 'info-square']" size="lg"/>
                </div>
                <div class="header-elements">
                  <h6 class="title">
                    Password Rules
                  </h6>
                </div>
              </div>
            </template>
            <template #es-form>
              <div class="es-form">
                <div class="columns">
                  <div class="column is-half">
                    <div class="removeUnderline has-text-left"
                      v-for="rule in activeRules"
                      v-bind:key="rule.property">
                        <label class="label">{{ rule.message}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </es-form>
          <es-form v-if="isEditSecurity">
            <template #es-form-header>
              <div class="header-container">
                <div class="header-elements">
                  <font-awesome-icon :icon="['fas', 'ruler']" size="lg"/>
                </div>
                <div class="header-elements">
                  <h6 class="title">
                    Reset Password
                  </h6>
                </div>
              </div>
            </template>
            <template #es-form>
              <div class="fields-container">
                <div class="row" :class="{ removeUnderline: isEditGeneral }">
                  <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Email Address</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          type="text"
                          v-model="user.email"
                          disabled/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Current Password</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input type="password"
                          class="input"
                          :class="{ 'is-static': !isEditSecurity,
                          'is-danger' : hasErrorPassword && msgPassword !==''}"
                          v-model="password"
                          v-if="isEditSecurity">
                      </div>
                      <p v-if="hasErrorPassword" class="help is-danger">{{ msgPassword }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">New Password</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input type="password"
                          class="input"
                          :class="{ 'is-static': !isEditSecurity,
                            'is-danger' : hasErrorPassword && msgNewPassword !==''}"
                          v-model="newpassword"
                          v-if="isEditSecurity">
                      </div>
                      <p v-if="hasErrorPassword && msgNewPassword !=='' "
                        class="help is-danger">{{ msgNewPassword }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" :class="{ removeUnderline: isEditGeneral }">
                <div class="field is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Re-Enter New Password</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <input type="password"
                          class="input"
                          :class="{ 'is-static': !isEditSecurity,
                          'is-danger' : hasErrorPassword && msgVerifyPassword !==''}"
                          v-model="verifypassword"
                          v-if="isEditSecurity">
                      </div>
                      <p v-if="hasErrorPassword && msgVerifyPassword !=='' "
                        class="help is-danger">{{ msgVerifyPassword }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </template>
          </es-form>
          <div class="es-actions" v-if="isEditSecurity">
            <es-form-actions>
              <template #form-actions>
                <div class="bottom-content">
                  <ul>
                    <li>
                      <div class="list-content">
                        <a @click.prevent="clearAll('security')">Cancel</a>
                      </div>
                    </li>
                    <li>
                      <div class="list-content">
                        <button
                          class="button is-primary"
                          @click.prevent="verifyForm('security')">
                           Update
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </template>
            </es-form-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex';
import { library } from '@fortawesome/fontawesome-svg-core';
import {
  faAddressBook,
  faAngleDown,
  faBan,
  faCheck,
  faEdit,
  faEnvelope,
  faIdCard,
  faInfoSquare,
  faMapMarkedAlt,
  faPhone,
  faRuler,
  faSearch,
} from '@fortawesome/pro-solid-svg-icons';
import { faTrash } from '@fortawesome/pro-light-svg-icons';
import moment from 'moment';
import EsForm from '@/components/EsForm.vue';
import EsFormActions from '@/components/EsFormActions.vue';
import EsHeader from '@/components/EsHeader.vue';
import FormSearchRole from '@/components/FormSearchRole.vue';
import FormSearchLocationGroup from '@/components/FormSearchLocationGroup.vue';
import UserEditAuthorization from '@/components/UserEditAuthorization.vue';
import UserAddAuthorization from '@/components/UserAddAuthorization.vue';
import EsProfileHeader from '@/components/EsProfileHeader.vue';
import BreadcrumbsManager from '@/mixins/BreadcrumbManager';
import PhoneUtils from '@/mixins/PhoneUtils';
import PasswordUtils from '@/mixins/PasswordUtils';
import DateUtils from '@/mixins/DateUtils';
import NotificationManager from '@/mixins/NotificationManager';
import PermissionManager from '@/mixins/PermissionManager';
import ZipUtils from '@/mixins/ZipUtils';


library.add(
  faAddressBook,
  faAngleDown,
  faBan,
  faCheck,
  faEdit,
  faEnvelope,
  faIdCard,
  faInfoSquare,
  faMapMarkedAlt,
  faPhone,
  faRuler,
  faSearch,
  faTrash,
);

export default {
  mixins: [BreadcrumbsManager, PhoneUtils, PasswordUtils, DateUtils, NotificationManager, PermissionManager, ZipUtils],
  components: {
    EsProfileHeader,
    EsHeader,
    FormSearchRole,
    FormSearchLocationGroup,
    UserEditAuthorization,
    UserAddAuthorization,
    EsForm,
    EsFormActions,
  },
  props: [

  ],
  data() {
    return {
      apiMsg: '',
      messages: [],
      hasErrorRole: false,
      hasErrorLocation: false,
      hasErrorFirstName: false,
      hasErrorMiddleName: false,
      hasErrorLastName: false,
      hasErrorDateOfBirth: false,
      hasErrorGender: false,
      hasErrorPhone1: false,
      hasErrorPhone2: false,
      hasErrorStreet1: false,
      hasErrorStreet2: false,
      hasErrorCity: false,
      hasErrorZip: false,
      hasErrorPassword: false,

      user: '',
      userBeforeEdit: '',
      userMaster: '',

      currentEditPanel: '',
      isEditGeneral: false,
      isEditGroup: false,
      isEditRole: false,
      isEditSecurity: false,
      isAddAuthorization: false,
      isEditAuthorization: false,
      currentSection: 'general',

      districtType: 'All Districts',
      schoolType: 'All Schools',
      locationGroupType: 'All Groups',
      roles: [],
      districts: [],
      programs: [],
      locationGroups: [],
      schools: [],

      role: '',
      locationGroup: '',

      msgFirstName: '',
      msgLastName: '',
      msgMiddleName: '',
      msgDateOfBirth: '',
      msgGender: '',
      msgPhone1: '',
      msgPhone2: '',
      msgStreet1: '',
      msgStreet2: '',
      msgCity: '',
      msgZip: '',
      msgPassword: '',
      msgNewPassword: '',
      msgVerifyPassword: '',

      password: null,
      newpassword: null,
      verifypassword: null,

      states: [],
      titles: [],
      genders: [
        { code: 'M', description: 'Male' },
        { code: 'F', description: 'Female' },
      ],
      gender: '',
      dateOfBirthYYYYMMDD: '',
      lastUpdateDateYYYYMMDD: '',
      status: '',
      formErrorMsg: 'There were some errors. Please fix the errors highlighted in the fields below.',
    };
  },
  watch: {
    $route: 'reload',
  },
  created() {
    this.onLoad(this.$route.params.id);
  },
  methods: {
    ...mapActions([
      'getProfile',
      'getStates',
      'getTitles',
      'updateUser',
      'updateUserPw',
      'forceResetPassword',
    ]),
    async verifyForm(panel) {
      if (panel === 'security') {
        if (this.checkSecurityForm()) return;
        const cred = { currentPassword: this.password, newPassword: this.newpassword };
        try {
          await this.updateUserPw(cred);
          this.showSuccess('The user password has been updated successfully.');
          this.editPanel('');
          this.password = '';
          this.newpassword = '';
          this.verifypassword = '';
        } catch (error) {
          if (error.response.status === 500) {
            this.apiMsg = 'Network Error';
          } else if (error.response.status === 400) {
            this.apiMsg = this.formErrorMsg;
            const message = error.response.data.message;
            if (message === 'invalid username or password') {
              this.msgPassword = 'Password is invalid';
            } else if(message.includes('Password is invalid')) {
              this.msgNewPassword = message;
            }
            this.apiMsg = this.formErrorMsg;
            this.hasErrorPassword = true;
          } else {
            this.apiMsg = `${error.response.data.message}`;
          }
          this.showError(this.apiMsg);
        }
        return;
      }
      if (panel === 'general') {
        if (this.checkGeneralForm()) return;
        this.user.phone1 = this.unmaskPhone(this.user.phone1);
        this.user.phone2 = this.unmaskPhone(this.user.phone2);
      } else if (panel === 'editAuthorization') {
        if (this.checkAuthorizationForm()) return;
        this.user.locationGroups = this.locationGroups;
        this.user.programs = this.programs;
        this.user.districts = this.districts;
        this.user.schools =this.schools;
        if (panel === 'addAuthorization') {
          this.user.roles = this.roles;
        }
      }
      else if (panel === 'status') {
        this.user = Object.assign({}, this.userMaster);
        this.user.status = 'DELETE';
      }
      try {
        await this.updateUser({ user: this.user, id: this.userMaster.id, panel });
        if (panel === 'editAuthorization') {
          this.showSuccess('The authorization have has been updated successfully.');
        } else if (panel === 'status') {
          this.showSuccess('User status has been changed.');
          if (this.user.status === 'DELETE') {
            const module = await this.activeModule.name;
            if (module === 'locationID') {
              this.$router.push(
                {
                  name: 'LIUsersList',
                  params: { message: 'The user profile has been deleted.' },
                },
              );
            } else if (module === 'directMatch') {
              this.$router.push(
                {
                  name: 'DMUsersList',
                  params: { message: 'The user profile has been deleted.' },
                },
              );
            }
          }
        } else {
          this.showSuccess('The user profile has been updated successfully.');
        }
        this.editPanel('');
      } catch (error) {
        if (error.response.status === 500) {
          this.apiMsg = 'Network Error';
        } else if (error.response.status === 400) {
          this.apiMsg = this.formErrorMsg;
          this.resetFormErrors();
          this.parseBadRequestErrors(error.response.data.message);
        } else {
          this.apiMsg = `${error.response.data.message}`;
        }
        this.showError(this.apiMsg);
      }
      this.currentEditPanel = '';
    },
    reload() {
      this.onLoad(this.$route.params.id);
    },
    async onLoad(id) {
      if (!id) return;
      const methodGetStates = this.getStates();
      const methodGetTitles = this.getTitles();
      try {
        const promiseGetStates = await methodGetStates;
        const promiseGetTitles = await methodGetTitles;
        this.states = promiseGetStates.data;
        this.titles = promiseGetTitles.data;
      } catch (error) {
        this.apiMsg = `${error.response.status === 500 ? 'Network Error' : error.response.data.message}`;
        this.showError(this.apiMsg);
      }
      try {
        await this.getProfile(id).then((response) => {
          this.initialize(response.data);
        });
      } catch (error) {
        this.apiMsg = `${error.response.status === 500 ? 'Network Error' : error.response.data.message}`;
        this.showError(this.apiMsg);
      }
      this.setBreadcrumbs();
    },
    setBreadcrumbs() {
      if (this.activeModule.name === 'locationID') {
        this.setBreadcrumb([
          { text: 'User Profile', to: { name: 'LIUsersList' } },
          { text: ':userName', to: {} },
        ]);
      } else if (this.activeModule.name === 'directMatch') {
        this.setBreadcrumb([
          { text: 'User Profile', to: { name: 'DMUsersList' } },
          { text: ':userName', to: {} },
        ]);
      }

      this.replaceBreadcrumb({
        find: ':userName',
        replace: { text: `${this.user.firstName} ${this.user.lastName}`, to: {} },
      });
    },
    initialize(data) {
      this.userMaster = this.setDefaults(data);
      this.userBeforeEdit = Object.assign({}, this.userMaster);
      this.user = Object.assign({}, this.userMaster);
    },
    setDefaults(user) {
      const u = user;
      if (user.dateOfBirth !== undefined) {
        this.dateOfBirthYYYYMMDD = moment(user.dateOfBirth).format('YYYY-MM-DD');
      }
      if (user.state === undefined) { u.state = { code: '', description: '' }; }
      if (user.jobClassification === undefined) { u.jobClassification = { code: '', description: '' }; }
      if (user.gender === undefined) { this.gender = { code: '', description: '' }; } else { this.gender = user.gender; }
      return u;
    },
    resetPassword(id) {
      this.forceResetPassword(id).then((response) => {
        if (response.status === 200) {
          this.showSuccess('Reset Password is done.');
        }
      }).catch((error) => {
        this.showError(error.response.data.message);
      });
    },
    resetFormErrors() {
      this.hasErrorRole = false;
      this.hasErrorLocation = false;
      this.hasErrorFirstName = false;
      this.hasErrorMiddleName = false;
      this.hasErrorLastName = false;
      this.hasErrorDateOfBirth = false;
      this.hasErrorGender = false;
      this.hasErrorPhone1 = false;
      this.hasErrorPhone2 = false;
      this.hasErrorStreet1 = false;
      this.hasErrorStreet2 = false;
      this.hasErrorPassword = false;

      this.msgFirstName = '';
      this.msgMiddleName = '';
      this.msgLastName = '';
      this.msgDateOfBirth = '';
      this.msgGender = '';
      this.msgPhone1 = '';
      this.msgPhone2 = '';
      this.msgStreet1 = '';
      this.msgStreet2 = '';
      this.msgCity = '';
      this.msgZip = '';

      this.msgPassword = '';
      this.msgNewPassword = '';
      this.msgVerifyPassword = '';
    },
    editPanel(panel) {
    if (panel === 'general') {
      this.isEditGeneral = true;
      this.currentEditPanel = 'general';
      this.hideNotification();
    }
    else if (panel === 'editAuthorization'){
      this.isEditAuthorization = true;
      this.currentEditPanel = 'editAuthorization';
      this.hideNotification();
    }
    else if (panel === 'addAuthorization'){
      this.isAddAuthorization = true;
      this.currentEditPanel = 'addAuthorization';
      this.hideNotification();
    }
    else if (panel === 'groups') {
      this.isEditGroup = true;
      this.currentEditPanel = 'groups';
      this.hideNotification();
    } else if (panel === 'roles') {
      this.isEditRole = true;
      this.currentEditPanel = 'roles';
      this.hideNotification();
    } else if (panel === 'security') {
      this.isEditSecurity = true;
      this.currentEditPanel = 'security';
      this.hideNotification();
    } else {
      this.isEditGeneral = false;
      this.isEditGroup = false;
      this.isEditRole = false;
      this.isEditSecurity = false;
      this.currentEditPanel = '';
    }
  },
    undoForm(section) {
      if (section === 'general') {
        Object.assign(this.user, this.userBeforeEdit);
      }
    },
    clearAll(section) {
      this.resetFormErrors();
      this.hideNotification();
      this.currentEditPanel = '';
      if (section === 'general') {
        this.undoForm(section);
        this.isEditGeneral = false;
      } else if (section === 'editAuthorization') {
        this.isEditAuthorization = false;
      }
      else if (section === 'addAuthorization') {
        this.isAddAuthorization = false;
      } else if (section === 'security') {
        this.isEditSecurity = false;
      } else {
        this.isEditGeneral = false;
        this.isEditAuthorization = false;
        this.isAddAuthorization = false;
        this.isEditSecurity = false;
      }
    },
    // onUpdateRoles(role) {
    //   if (role === undefined || role.length < 1) {
    //     this.hasErrorRole = true;
    //     this.msgRole = 'Role is required.';
    //   } else {
    //     this.hasErrorRole = false;
    //   }
    //   this.role = role;
    // },
    // onUpdateLocation(locationGroup) {
    //   if (locationGroup === undefined || locationGroup.length < 1) {
    //     this.hasErrorLocation = true;
    //     this.msgLocation = 'Location Group is required.';
    //   } else {
    //     this.hasErrorLocation = false;
    //   }
    //   this.locationGroup = locationGroup;
    // },
    onUpdateAuthorization(options) {
      if (options.districtType) {
        this.districtType = options.districtType;
      }
      if (options.schoolType) {
        this.schoolType = options.schoolType;
      }
      if (options.locationGroupType) {
        this.locationGroupType = options.locationGroupType;
      }
      if (options.districts !== undefined || options.districts.length > 0) {
        this.districts = options.districts;
      }
      if (options.schools !== undefined || options.schools.length > 0) {
        this.schools = options.schools;
      }
      if (options.locationGroups !== undefined || options.locationGroups.length > 0) {
        this.locationGroups = options.locationGroups;
      }
      if (options.programs !== undefined || options.programs.length > 0) {
        this.programs = options.programs;
      }
    },
    checkEmpty(field) {
      if (field === 'firstName') {
        if (this.user.firstName === '') {
          this.hasErrorFirstName = true;
          this.msgFirstName = 'First Name is required';
        } else {
          this.user.firstName = this.user.firstName.trim();
          this.hasErrorFirstName = false;
          this.msgFirstName = '';
        }
      }
      if (field === 'lastName') {
        if (this.user.lastName === '') {
          this.hasErrorLastName = true;
          this.msgLastName = 'Last Name is required';
        } else {
          this.user.lastName = this.user.lastName.trim();
          this.hasErrorLastName = false;
          this.msgLastName = '';
        }
      }
      if (field === 'gender') {
        if (this.gender.code === '') {
          this.hasErrorGender = true;
          this.msgGender = 'Gender is required';
        } else {
          this.hasErrorGender = false;
          this.msgGender = '';
        }
      }
    },
    nullifyOptional(field) {
      if (field === 'dateOfBirth') {
        if (this.dateOfBirthYYYYMMDD === '') {
          this.user.dateOfBirth = null;
        }
        if (this.dateOfBirthYYYYMMDD) {
          this.user.dateOfBirth = this.getCorrectDateFromYYYYMMDDString(this.dateOfBirthYYYYMMDD)
            .getTime();
        }
      }
      if (field === 'middleName') {
        if (!this.user.middleName || this.user.middleName.trim().length === 0) {
          this.user.middleName = null;
        }
      }
      if (field === 'phone1') {
        if (!this.user.phone1 || this.user.phone1.trim().length === 0) {
          this.user.phone1 = null;
        }
      }
      if (field === 'phone2') {
        if (!this.user.phone2 || this.user.phone2.trim().length === 0) {
          this.user.phone2 = null;
        }
      }
      if (field === 'street1') {
        if (!this.user.street1 || this.user.street1.trim().length === 0) {
          this.user.street1 = null;
        }
      }
      if (field === 'street2') {
        if (!this.user.street2 || this.user.street2.trim().length === 0) {
          this.user.street2 = null;
        }
      }
      if (field === 'city') {
        if (!this.user.city || this.user.city.trim().length === 0) {
          this.user.city = null;
        }
      }
      if (field === 'zip') {
        if (!this.user.zip || this.user.zip.trim().length === 0) {
          this.user.zip = null;
        }
      }
    },
    lookupOptional(field) {
      if (field === 'title') {
        if (this.user.jobClassification.code !== '') {
          const title = this.titles.filter(t => t.code === this.user.jobClassification.code);
          if (title !== undefined) {
            this.user.jobClassification.description = title[0].description;
          }
        }
      }
      if (field === 'state') {
        if (this.user.state.code !== '') {
          const state = this.states.filter(s => s.code === this.user.state.code);
          if (state !== undefined) { this.user.state.description = state[0].description; }
        }
      }
    },
    checkFormat(field) {
      if (field === 'dateOfBirth') {
        if (this.dateOfBirthYYYYMMDD !== ''
          && !this.isValidDateFormat(this.dateOfBirthYYYYMMDD, 'YYYY-MM-DD')) {
          this.hasErrorDateOfBirth = true;
          this.msgDateOfBirth = 'Date of Birth is invalid.';
        } else {
          this.hasErrorDateOfBirth = false;
          this.msgDateOfBirth = '';
        }
      }
      if (field === 'phone1') {
        if (!this.user.phone1) {
          this.hasErrorPhone1 = false;
          this.msgPhone1 = '';
        } else if (!this.isValidPhone(this.user.phone1)) {
          this.hasErrorPhone1 = true;
          this.msgPhone1 = 'Phone number is invalid.';
        } else {
          this.user.phone1 = this.user.phone1.trim();
          this.hasErrorPhone1 = false;
          this.msgPhone1 = '';
        }
      }
      if (field === 'phone2') {
        if (!this.user.phone2) {
          this.hasErrorPhone2 = false;
          this.msgPhone2 = '';
        } else if (!this.isValidPhone(this.user.phone2)) {
          this.hasErrorPhone2 = true;
          this.msgPhone2 = 'Phone number is invalid.';
        } else {
          this.user.phone2 = this.user.phone2.trim();
          this.hasErrorPhone2 = false;
          this.msgPhone2 = '';
        }
      }
      if (field === 'zip') {
        if (!this.user.zip) {
          this.hasErrorZip = false;
          this.msgZip = '';
        } else if (!this.isValidZip(this.user.zip)) {
          this.hasErrorZip = true;
          this.msgZip = 'Zip is invalid.';
        } else {
          this.user.zip = this.user.zip.trim();
          this.hasErrorZip = false;
          this.msgZip = '';
        }
      }
      if (field === 'gender') {
        if (this.gender.code !== '') {
          const found = this.genders.filter(s => s.code === this.gender.code);
          if (found !== undefined) {
            this.user.gender = { code: found[0].code, description: found[0].description };
            this.user.genderCode = found[0].code;
            this.gender.description = found[0].description;
          } else {
            this.gender = { code: '', description: '' };
          }
        } else {
          delete this.user.gender;
        }
      }
    },
    checkAuthorizationForm() {
      this.$refs.UserEditAuthorization[0].validateEditAuthorizationForm();
    },
    checkGeneralForm() {
      this.checkEmpty('firstName');
      this.checkEmpty('lastName');
      this.nullifyOptional('dateOfBirth');
      this.checkFormat('dateOfBirth');
      this.checkEmpty('gender');
      this.nullifyOptional('middleName');
      this.nullifyOptional('phone1');
      this.nullifyOptional('phone2');
      this.nullifyOptional('street1');
      this.nullifyOptional('street2');
      this.nullifyOptional('city');
      this.nullifyOptional('zip');
      this.lookupOptional('title');
      this.lookupOptional('state');
      this.checkFormat('phone1');
      this.checkFormat('phone2');
      this.checkFormat('zip');
      this.checkFormat('gender');
      const err = this.hasErrorLastName
        || this.hasErrorFirstName
        || this.hasErrorDateOfBirth
        || this.hasErrorGender
        || this.hasErrorPhone1
        || this.hasErrorPhone2
        || this.hasErrorZip;
      if (err === true) {
        this.showError(this.formErrorMsg);
      }
      return err;
    },
    checkSecurityForm() {
      this.resetFormErrors();
      let error = 0;
      if (this.password === undefined || this.password === null) {
        this.hasErrorPassword = true;
        this.msgPassword = 'Password can not be empty';
        error += 1;
      } else if (this.newpassword === undefined || this.newpassword === null) {
        this.hasErrorPassword = true;
        this.msgNewPassword = 'Password can not be empty';
        error += 1;
      } else if (this.verifypassword === undefined || this.verifypassword === null) {
        this.hasErrorPassword = true;
        this.msgVerifyPassword = 'Password can not be empty';
        error += 1;
      } else if (this.password === this.newpassword) {
        this.hasErrorPassword = true;
        this.msgNewPassword = 'Password must not be the same as the last password';
        error += 1;
      } else if (this.newpassword !== this.verifypassword) {
        this.hasErrorPassword = true;
        this.msgVerifyPassword = 'Passwords do not match';
        error += 1;
      } else {
        const failedpw = this.rulesFailed(this.user.email, this.password);
        if (failedpw.length > 0) {
          this.msgPassword = 'Password is invalid.';
          // failedpw.forEach((item) => { this.failedMsg += ` ${item}`; });
          this.hasErrorPassword = true;
          error += 1;
        } else {
          const failednpw = this.rulesFailed(this.user.email, this.newpassword);
          if (failednpw.length > 0) {
            this.msgNewPassword = 'Password is invalid.';
            // failednpw.forEach((item) => { this.failedMsg += ` ${item}`; });
            this.hasErrorPassword = true;
            error += 1;
          }
        }
      }
      if (error > 0) {
        this.showError(this.formErrorMsg);
      }
      return this.hasErrorPassword;
    },
    parseBadRequestErrors(data) {
      const messages = data.split(',');
      const errors = messages.map((item) => {
        const e = { field: item.trim().split(' ')[0], error: item.trim() };
        return e;
      });
      errors.forEach((e) => {
        if (e.field === 'first') {
          this.hasErrorFirstName = true;
          this.msgFirstName += e.error;
        } else if (e.field === 'middle') {
          this.hasErrorMiddleName = true;
          this.msgMiddleName += e.error;
        } else if (e.field === 'last') {
          this.hasErrorLastName = true;
          this.msgLastName += e.error;
        } else if (e.field === 'gender') {
          this.hasErrorGender = true;
          this.msgGender += e.error;
        } else if (e.field === 'phone1') {
          this.hasErrorPhone1 = true;
          this.msgPhone1 += e.error;
        } else if (e.field === 'phone2') {
          this.hasErrorPhone2 = true;
          this.msgPhone2 += e.error;
        } else if (e.field === 'street1') {
          this.hasErrorStreet1 = true;
          this.msgStreet1 += e.error;
        } else if (e.field === 'street2') {
          this.hasErrorStreet2 = true;
          this.msgStreet2 += e.error;
        } else if (e.field === 'city') {
          this.hasErrorCity = true;
          this.msgCity += e.error;
        } else if (e.field === 'zip') {
          this.hasErrorZip = true;
          this.msgZip += e.error;
        }
      });
    },
    showError(error) {
      this.showNotification('danger', [error]);
    },
    showSuccess(error) {
      this.showNotification('success', [error]);
    },
  },
  computed: {
    adminMode() {
      const mode = this.$route.path.toLowerCase().includes('admin')
      && parseInt(this.$store.state.user.id, 10) !== parseInt(this.$route.params.id, 10);
      return mode;
    },
    securityMode() {
      const mode = parseInt(this.$store.state.user.id, 10) === parseInt(this.$route.params.id, 10);
      return mode;
    },
    disableOnEdit() {
      return this.isEditGeneral && this.user.status === 'PENDING';
    },
    ...mapGetters({
      activeModule: 'appModules/getActiveModule',
    }),
  },
  filters: {
    formatDateMMDDYYYY(value) {
      if (value) {
        return moment(value).format('MM/DD/YYYY');
      }
      return 'N/A';
    },
  },
};
</script>

<style lang="sass" scoped>
  .document
    max-width: 928px
  a.disabled
    color: #999
    cursor:  default
    text-decoration:  none
    pointer-events: none
    &:hover
      text-decoration:  none
  .invalid-feedback
    font-style: italic
    color: #dc3545
    font-size: .7rem
    padding: .25rem 0 .25rem .15rem
  .edit-link
    color: #5953A4
    text-decoration: none
    background-color: transparent
    font-size: .75rem
    font-weight: 400
</style>
